<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fruits</title>
  </head>

  <body class="bg-green-500 font-['Lexend'] p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for fruit in fruitsList %}
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img
          src=""
          alt="Apple"
          class="w-full h-32 object-cover mb-4 rounded-md"
        />
        <h2 class="text-xl font-bold">{{ fruit.Name }}</h2>
        <h2 class="text-xl font-bold">
          Price: ${{ fruit.Price_per_Kg }} per kg
        </h2>
        <p class="text-gray-700">Stock: {{ fruit.Stock_in_Kg }} kg</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
